<%= form_with url: login_email_path, method: :post, data: { turbo_frame: "login_form" } do |f| %>
  <div>
    <%= f.label :otp, "Enter OTP" %>
    <%= f.text_field :otp, required: true, autofocus: true, autocomplete: "one-time-code" %>
    <%= f.hidden_field :email, value: @email || (defined?(email) ? email : nil) %>
  </div>
  <div>
    <%= f.submit "Verify OTP" %>
  </div>
<% end %>
