<%= render "timeline_event_basic", icon: "icons/create.svg", show_line: false do %>
  <p><%= render "shared/user_inline", user: project.user %> started <%= project.title %> <span title="<%= event[:date] %>"><%= time_ago_in_words(event[:date]) %> ago</span></p>
<% end %>
