<% if event[:feedback].present? || event[:tier_override].present? || event[:grant_override_cents].present? %>
  <%= render "timeline_event_card" do %>
    <div class="flex space-x-4">
      <% if event[:user] %>
        <p class="grow"><%= render "shared/user_inline", user: event[:user] %> requested changes for <%= project.title %> <%= c_time_ago_in_words(event[:date]) %> ago</p>
      <% else %>
      <% end %>
    </div>
    <div class="timeline-journal">
      <% if event[:feedback].present? %>
        <p><%= event[:feedback] %></p>
      <% end %>
      <% if event[:tier_override].present? %>
        <p><strong>Recommended tier:</strong> <%= event[:tier_override] %></p>
      <% end %>
      <% if event[:grant_override_cents].present? %>
        <p><strong>Grant to expect:</strong> $<%= sprintf("%.2f", event[:grant_override_cents] / 100.0) %></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render "timeline_event_basic", icon: "icons/reject.svg" do %>
    <% if event[:user] %>
        <p><%= render "shared/user_inline", user: event[:user] %> requested changes for <%= project.title %> <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% else %>
      <p><%= project.title %> was determined to need changes <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% end %>
  <% end %>
<% end %>
