<% object = local_assigns[:object] %>

<%# preload whodunit ids %>
<% 
  user_ids = object.versions.map(&:whodunnit).compact.uniq
  users = User.where(id: user_ids).index_by { |u| u.id.to_s }
%>

<% if object.versions.empty? %>
  <p>No audit log entries</p>
<% else %>
  <ul class="list-disc list-inside">
    <% object.versions.reverse_each do |version| %>
      <% user = users[version.whodunnit] %>
      <% action = version.event == "create" ? "created" : "updated" %>
      <li><%= render "shared/user_inline", user: user, avatar_classes: "size-4", admin_view: true %> <%= action %> this <span title="<%= version.created_at %>"><%= time_ago_in_words(version.created_at) %> ago</span></li>
      <% if version.event == "update" %>
        <ul class="list-disc list-inside indent-4">
          <% version.object_changes.present? && version.object_changes.each do |name, value| %>
            <% next if name == "updated_at" %>
            <li><%= name %>: <%= truncate(value[0].to_s, length: 50) %> → <%= truncate(value[1].to_s, length: 50) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

