<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<section class="flex flex-col items-center space-y-6 grow">
  <div class="flex flex-col w-full max-w-4xl min-h-full m-8 space-y-12">
    <%= render "shared/card", class: "flex flex-col space-y-6" do %>
      <div class="space-y-2">
        <div class="flex flex-col items-center space-y-4">
          <p><%= image_tag @user.avatar_url, alt: @user.display_name, class: "size-24 rounded-xl" %></p>
          <div class="text-center space-y">
            <p class="text-3xl"><%= @user.display_name %></p>
            <p class="text-sm">Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center space-x-6">
        <% if @user.github_username.present? %>
          <a href="https://github.com/<%= @user.github_username %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/github.svg", class: "size-8" %></a>
        <% end %>
        <% if @user.slack_id.present? %>
          <a href="https://hackclub.slack.com/team/<%= @user.slack_id %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/slack.svg", class: "size-8" %></a>
        <% end %>
      </div>
    <% end %>
  </div>
</section>