<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<section class="flex flex-col items-center space-y-6 grow">
  <div class="flex flex-col w-full max-w-4xl min-h-full m-8 space-y-12">
    <%= render "shared/card", class: "flex flex-col space-y-6" do %>
      <div class="space-y-2">
        <div class="flex flex-col items-center space-y-4">
          <p><%= image_tag @user.avatar_url, alt: @user.display_name, class: "size-24 rounded-xl" %></p>
          <div class="text-center space-y">
            <p class="text-3xl"><%= @user.display_name %></p>
            <p class="text-sm">Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center space-x-6">
        <% if @user.github_username.present? %>
          <a href="https://github.com/<%= @user.github_username %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/github.svg", class: "size-8" %></a>
        <% end %>
        <% if @user.slack_id.present? %>
          <a href="https://hackclub.slack.com/team/<%= @user.slack_id %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/slack.svg", class: "size-8" %></a>
        <% end %>
      </div>
    <% end %>
    <% if user_logged_in? && current_user == @user %>
      <%= render "shared/card" do %>
        <div class="space-y-1">
          <p class="text-3xl">Blueprint Referral Program</p>
          <p>Share Blueprint with friends and get cool stuff!</p>
        </div>
        <div class="space-y-1">
          <p>You have referred <%= pluralize(@user.eligible_referral_count, "user") %>.</p>
          <div class="flex space-x-2 items-center">
            <p>Your referral link:</p>
            <% referral = "https://#{ENV['APPLICATION_HOST']}/r/#{@user.id}?ref=r" %>
            <code class="text-sm inline font-mono bg-bp-dark px-3 py-0.5 rounded"><%= referral %></code>
          </div>
        </div>
        <div>
          <p>Rewards:</p>
          <ul class="list-disc list-inside">
            <li>3 referrals: Blueprint-style profile picture <% if @user.eligible_referral_count >= 3 %>(<a class="underline" target="_blank" href="#">claim</a>)<% end %></li>
            <li>More coming soon!</li>
        </div>
        <div>
          <p>A referral is a new user who signs up with your link and finishes joining Slack.</p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>