<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<section class="flex flex-col items-center space-y-6 grow">
  <div class="flex flex-col w-full max-w-4xl min-h-full m-8 space-y-12">
    <%= render "shared/card", class: "flex flex-col space-y-6" do %>
      <div class="space-y-2">
        <div class="flex flex-col items-center space-y-4">
          <p><%= image_tag @user.avatar_url, alt: @user.display_name, class: "size-24 rounded-xl" %></p>
          <div class="text-center space-y">
            <p class="text-3xl"><%= @user.display_name %></p>
            <p class="text-sm">Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center space-x-6">
        <% if @user.github_username.present? %>
          <a href="https://github.com/<%= @user.github_username %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/github.svg", class: "size-8" %></a>
        <% end %>
        <% if @user.slack_id.present? %>
          <a href="https://hackclub.slack.com/team/<%= @user.slack_id %>" target="_blank" rel="noopener noreferrer"><%= inline_svg "icons/slack.svg", class: "size-8" %></a>
        <% end %>
      </div>
    <% end %>
    <% if user_logged_in? && current_user == @user %>
      <%= render "shared/card" do %>
        <div class="space-y-1">
          <p class="text-3xl">Blueprint Referral Program</p>
          <p>Share Blueprint with friends and get cool stuff!</p>
        </div>
        <div class="space-y-1">
          <p>You have <%= pluralize(@user.eligible_referral_count_range(Time.current.beginning_of_week, Time.current.end_of_week), "referral") %> this week. (Total: <%= pluralize(@user.eligible_referral_count, "referral") %>)</p>
          <div class="flex space-x-2 items-center">
            <p>Your referral link:</p>
            <% referral = "https://#{ENV['APPLICATION_HOST']}/r/#{@user.id}?ref=r" %>
            <code class="text-sm inline font-mono bg-bp-dark px-3 py-0.5 rounded"><%= referral %></code>
          </div>
        </div>
        <div>
          <p>We're giving out 5 Raspberry Pi Picos out every week!</p>
          <p>For each week: Every referral is one ticket into the raffle.</p>
        </div>
        <div>
          <p>A referral is a new user who signs up with your link and finishes joining Slack (or is already on Slack).</p>
        </div>
      <% end %>
    <% end %>
    <% if @projects.any? %>
      <div class="space-y-4">
        <div class="space-y-1">
          <h2 class="text-3xl"><%= current_user == @user ? "Your Projects" : "#{@user.display_name}'s Projects" %></h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
          <%= render partial: 'projects/explore_project', collection: @projects, as: :project %>
        </div>
      </div>
    <% end %>
  </div>
</section>