<% announcements = [
  {
    title: "Blueprint Has Launched!",
    date: "October 1, 2025",
    content: "Welcome to Blueprint, a hardware YSWS",
    cta: { text: "Learn More →", url: "/docs" },
    level: :warning
  }
]%>

<%= render "shared/card" do %>
  <div class="">
    <h2 class="text-2xl md:text-3xl">Announcements</h2>
  </div>

  <% if announcements.any? %>
    <% announcements.each do |announcement| %>
      <% dark_text = announcement[:level] == :warning || announcement[:level] == :danger || announcement[:level] == :success || announcement[:level] == :light %>
      <div class="p-3 md:p-4 bg-bp-<%= announcement[:level] || "dark" %> <%= dark_text ? "text-bp-dark" : "inset-shadow-sm inset-shadow-black/25" %>">
        <div class="flex items-center justify-center">
          <div class="text-center">
            <div class="mb-1 text-xs md:text-sm font-semibold"><%= announcement[:date] %></div>
            <div class="text-lg md:text-2xl font-bold"><%= announcement[:title] %></div>
          </div>
        </div>
        <div class="text-center">
          <p class="mb-3 text-sm md:text-lg"><%= announcement[:content] %></p>
          <% if announcement[:cta] %>
            <%= render "shared/button", text: announcement[:cta][:text], url: announcement[:cta][:url], class: "min-h-[44px] #{dark_text ? "bg-bp-dark text-white border-0 hover:bg-bp-lighter" : ""}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="flex items-center justify-center text-center grow">
      <p class="text-sm md:text-base">It's pretty quiet in here...<br>Check back later!</p>
    </div>
  <% end %>
<%end %>