<% cache [project, project.banner&.blob] do %>
  <div class="flex flex-col h-full space-y-4 w-82">
      <%= link_to project_path(project) do %>
          <div class="bg-gray-200 bg-center bg-cover h-28" style="background-image: url('<%= project.banner.attached? ? url_for(project.banner) : nil %>')">
          </div>
      <% end %>
      <div class="flex flex-col space-y-2 grow">
          <%= link_to project_path(project), class: "grow" do %>
              <p class="text-2xl"><%= project.title %></p>
          <% end %>
          <%= render "shared/button", url: project_path(project), variant: :inset, text: "New Journal Entry", class: "text-base bg-bp-warning text-bp-dark hover:bg-bp-warning/80" %>
          <%= render "shared/button", url: ship_project_path(project), variant: :inset, text: "Ship", class: "text-base " %>
      </div>
  </div>
<% end %>
