<% tasks = current_user.tasks.task_requirements %>

<%= render "shared/card" do %>
  <div class="absolute size-32 bg-red-200/25 -right-1 -top-3 -rotate-5">
    stickers go here
  </div>
  <div class="">
    <h2 class="text-3xl">Your tasks</h2>
    <p>Get stickers when you finish!</p>
  </div>
  <div class="space-y-4">
    <% tasks.each do |name, task| %>
      <% done = task[:met] %>
      <div class="text-xl border-0 flex items-center space-x-4">
        <div class="border-2 size-4 <%= done ? 'bg-white' : '' %>"></div>
        <% if name == :join_slack %>
          <% if done %>
            <p class="line-through"><%= task[:msg] %></p>
          <% else %>
            <button type="button" 
            data-controller="modal"
            data-modal-target-id-value="slack-join"
            data-action="click->modal#show"
            class="underline underline-offset-2"><%= task[:msg] %></button>
          <% end %>
        <% else %>
          <p><%= task[:msg] %></p>
        <% end %>
      </div>
    <% end %>
    <div class="mb-1">
      <p class="">Click on a task to begin!</p>
      <%= render "shared/button", text: "Claim Stickers", class: "w-full", html_options: { disabled: true } %>
    </div>
  </div>
<% end %>

<div 
  data-controller="modal"
  data-action="modal:show-slack-join@window->modal#show modal:hide-slack-join@window->modal#hide modal:toggle-slack-join@window->modal#toggle modal:next-slack-join@window->modal#next"
  data-modal-starting-step-value="<%= (current_user.slack_user? && current_user.is_mcg?) ? 1 : 0 %>"
  class="hidden absolute inset-0">
  <div class="absolute inset-0 flex items-center justify-center p-4" data-controller="tasks-slack" data-tasks-slack-target-id-value="slack-join">
    <%= render "shared/card", html_options: { data: { modal_target: "panel" } }, class: "z-50 min-w-xl space-y-0" do %>
      <div data-modal-target="step" class="space-y-6">
        <div>
          <p class="text-3xl">Join the Hack Club Slack</p>
          <p>Slack is where Hack Club communicates!</p>
        </div>
        <div class="bg-gray-500 max-w-xl">
          <video src="<%= video_path('slack-intro.mp4') %>" alt="Slack onboarding video" autoplay loop class="object-fit"></video>
        </div>
        <%= render "shared/button", 
            text: "Join the Slack!",
            class: "w-full", html_options: { data: { action: "click->tasks-slack#sendInvite", tasks_slack_target: "button1" } } 
            %>
      </div>
      <div data-modal-target="step" class="space-y-6">
        <div>
          <p class="text-3xl">Check your inbox!</p>
          <p>Slack has sent you an invite. (Check your spam folder)</p>
        </div>
        <div class="bg-gray-500 max-w-xl">
          <video src="<%= video_path('slack-onboarding.mp4') %>" alt="Slack onboarding video" autoplay loop class="object-fit"></video>
        </div>
        <div class="bg-gray-500 max-w-xl">
          <%= render "shared/button", 
            text: "I'm in!",
            class: "w-full", html_options: { data: { action: "click->modal#next" } } 
            %>
        </div>
      </div>
      <div data-modal-target="step" class="space-y-6">
        <div>
          <p class="text-3xl">Verify your Slack account</p>
          <p>Head over to #slack-welcome-start and "Explore the Cave"</p>
        </div>
        <div class="bg-gray-500 max-w-xl">
          <video src="<%= video_path('slack-onboarding.mp4') %>" alt="Slack onboarding video" autoplay loop class="object-fit"></video>
        </div>
        <%= render "shared/button", 
            text: "I'm done!",
            class: "w-full", html_options: { data: { action: "click->tasks-slack#checkVerified", tasks_slack_target: "button2" } } 
            %>
      </div>
    <% end %>
    <div data-modal-target="overlay" class="fixed inset-0 bg-black/50 z-40"></div>
  </div>
</div>