<section class="space-y-6">
  <%= render "shared/button", text: "Back", url: admin_projects_path, class: "py-0" %>
  <div class="flex items-center justify-between">
    <h1 class="pb-2 text-4xl">Project #<%= @project.id %>, <%= link_to @project.title, project_path(@project), class: "underline" %></h1>
  </div>
  <div class="grid grid-cols-2 gap-8">
    <%= render "shared/card", class: "space-y-2" do %>
      <p class="text-2xl">User information</p>
      <div>
        <p>ID: <%= @project.id %></p>
        <p>Author: <%= render "shared/user_inline", user: @project.user, admin_view: true %></p>
        <p>Created: <%= @project.created_at %></p>
        <p>Updated: <%= @project.updated_at %></p>
      </div>
      
    <% end%>
    <%= render "shared/card", class: "space-y-2" do %>
      <p class="text-2xl">User stats</p>
      <div>
        <%= render "admin/pill", type: :boolean, value: @project.is_deleted do %>
          <p>Deleted:</p>
        <% end %>
        <%= render "admin/pill", type: @project.review_status == "approved" ? :success : :none, value: @project.review_status || "not_submitted" do %>
          <p>Status:</p>
        <% end %>
      </div>
      <div>
        <p>Views: <%= @project.view_count %></p>
        <p>Followers: <%= @project.follower_count %></p>
        <p>Total hours: <%= @project.journal_entries.sum(:duration_seconds) / 3600 %></p>
        <p>Followers: <%= @project.follower_count %></p>
      </div>
    <% end %>
    <% if current_user.admin? %>
      <%= render "shared/card", class: "space-y-4 col-span-2" do %>
        <p class="text-2xl">Actions</p>
        <div class="flex">
          <% if @project.is_deleted %>
            <%= render "shared/button",
              variant: :danger,
              text: "Bring back",
              url: revive_admin_project_path(@project),
              html_options: { data: { turbo_method: :post, turbo_confirm: "Are you sure you want to bring back this project?" } },
              class: "bg-bp-danger"
            %>
          <% else %>
            <%= render "shared/button",
              variant: :danger,
              text: "Soft delete",
              url: delete_admin_project_path(@project),
              html_options: { data: { turbo_method: :post, turbo_confirm: "Are you sure you want to delete this project?" } },
              class: "bg-bp-danger"
            %>
          <% end %>
        </div>
      <% end %>
      <%= render "shared/card", class: "space-y-2 col-span-2" do %>
        <p class="text-2xl">Audit log</p>
        <%= render "admin/audit_log", object: @project %>
      <% end %>
    <% end %>
  </div>
</section>