<%= render "shared/card" do %>
  <%= form_with model: [@project, (@journal_entry || JournalEntry.new)], class: "space-y-4 dark", data: { controller: "journal-validator journal-draft", "journal-validator-min-chars-value": 250, "journal-validator-image-required-value": true, "journal-draft-project-id-value": @project.id } do |f| %>
    <div class="flex flex-col space-y-6">
      <div>
        <p class="block text-3xl">Write a new journal entry</p>
          <p>Share what you've been working on!</p>
      </div>
      <div class="space-y-2">
        <%= f.label :summary, "Describe what you did in a few words", class: "block text-xl" %>
        <%= f.text_field :summary,
              class: "input w-full",
              placeholder: "e.g. Routed the PCB",
              maxlength: 60,
              required: true,
              data: { "journal-draft-target": "summary", "journal-validator-target": "summary" } %>
        <div class="text-xs">
          <p class="text-right">Max characters: <span data-journal-validator-target="summaryCount" class="font-medium">0/60</span></p>
        </div>
      </div>

      <div class="flex flex-col space-y-1">
        <%= marksmith_tag :content,
              form: f,
              placeholder: "Write a few sentences about what you did...\nHow you did it...\nWhat went well, etc...\n\nInclude some images of your work!\n\nTip: Markdown is supported and you can drag and drop images.",
              enable_file_uploads: true,
              data: { "journal-draft-target": "textarea" },
              classes: "min-h-80 text-base" %>
        <div class="flex gap-4 text-xs">
          <p class="grow"><span data-journal-draft-target="status" hidden>Draft Saved Locally</span></p>
          <p>Min characters: <span data-journal-validator-target="charCount" class="font-medium">0/250</span></p>
          <p>Min images: <span data-journal-validator-target="imageCount" class="font-medium">0/1</span></p>
        </div>
      </div>
      <div class="space-y-2">
        <div>
          <%= f.label :duration_hours, "How many hours did you spend since the last journal?", class: "block" %>
          <p class="text-sm">It's okay if you don't know. This can be an estimate.</p>
        </div>
        <%= f.number_field :duration_hours,
              value: (f.object.duration_seconds.to_i / 3600.0).round(1),
              required: true,
              min: 0,
              step: 0.1,
              max: 1000,
              inputmode: "decimal",
              data: { "journal-draft-target": "hours", "journal-validator-target": "hours" },
              class: "input w-full" %>
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <%= f.submit "Publish", class: "btn btn-primary py-1", data: { "journal-draft-target": "submit", "journal-validator-target": "submit" } %>
    </div>
  <% end %>
<% end %>