<% if event[:type] == :creation %>
  <%= render "timeline_event_basic", icon: "icons/create.svg", show_line: false do %>
    <p><%= render "shared/user_inline", user: project.user %> started <%= project.title %> <span title="<%= event[:date] %>"><%= time_ago_in_words(event[:date]) %> ago</span></p>
  <% end %>
<% elsif event[:type] == :ship_design %>
  <%= render "timeline_event_basic", icon: "icons/ship.svg" do %>
    <% if event[:user] %>
      <p><%= render "shared/user_inline", user: event[:user] %> submitted <%= project.title %> for review <span title="<%= event[:date] %>"><%= time_ago_in_words(event[:date]) %> ago</span></p>
    <% else %>
    <p><%= project.title %> was submitted for review <span title="<%= event[:date] %>"><%= time_ago_in_words(event[:date]) %> ago</span></p>
    <% end %>
  <% end %>
<% elsif event[:type] == :journal %>
  <% entry = event[:entry] %>
  <%= render "timeline_event_card", class: "flex flex-col space-y-2" do %>
    <div class="flex space-x-4">
      <p class="grow"><%= render "shared/user_inline", user: project.user %> added to the journal <%= time_ago_in_words(event[:date]) %> ago</p>
      <% if current_user.present? && current_user == project.user && @project.can_edit? %>
        <div class="flex space-x-2">
          <button type="button" 
            data-controller="modal"
            data-modal-target-id-value="delete-journal<%= entry.id %>"
            data-action="click->modal#show"
            class="hover:scale-125 hover:text-bp-danger motion-safe:transition-all">
            <%= inline_svg "icons/delete.svg", class: "size-5" %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="markdown timeline-journal">
        <h1><%= entry.summary %></h1>
        <%= sanitize_marksmith_html(entry.rendered_html) %>
    </div>
  <% end %>

  <div 
  data-controller="modal"
  data-action="modal:show-delete-journal<%= entry.id %>@window->modal#show modal:hide-delete-journal<%= entry.id %>@window->modal#hide modal:toggle-delete-journal<%= entry.id %>@window->modal#toggle modal:next-delete-journal<%= entry.id %>@window->modal#next"
  class="hidden fixed inset-0 z-50">
    <div class="fixed inset-0 flex items-center justify-center p-4" data-controller="tasks-slack" data-tasks-slack-target-id-value="slack-join">
      <%= render "shared/card", html_options: { data: { modal_target: "panel" } }, class: "z-50 min-w-xl space-y-0" do %>
        <div class="flex flex-col items-center space-y-8">
          <p class="text-3xl">Delete this journal entry?</p>
          <div class="flex space-x-4 w-full justify-evenly">
            <div class="w-full">
              <%= render "shared/button", text: "Cancel", variant: :outline, class: "w-full", html_options: { data: { controller: "modal", action: "click->modal#hide", modal_target_id_value: "delete-journal#{ entry.id }" } } %>
            </div>
            <div class="w-full">
              <%= render "shared/button", text: "Delete", class: "w-full bg-bp-danger border-bp-danger hover:bg-bp-danger-darker hover:border-bp-danger-darker", url: project_journal_entry_path(project, entry) , html_options: { method: :delete } %>
            </div>
          </div>
        </div>
      <% end %>
      <div data-modal-target="overlay" class="fixed inset-0 bg-black/50 z-40"></div>
    </div>
  </div>
<% end %>
