<section class="flex flex-col items-center grow space-y-6">
  <div class="w-full max-w-3xl min-h-full flex flex-col m-8 space-y-8">
    <%= render "shared/card", class: "flex flex-col space-y-6" do %>
      <div class="space-y-2 -mt-4 -mx-6 p-6 pb-0">
        <p class="text-3xl">It's time to ship "<%= @project.title %>"</p>
        <p class="text-lg text-bp-muted">Complete these last steps before you can ship!</p>
      </div>

      <div class="space-y-8" 
      data-controller="ship-bom" 
      data-ship-bom-project-id-value="<%= @project.id %>"
      data-ship-bom-base-ok-value="<%= @base_ok %>">
        <div class="text-xl">
          <ul class="space-y-2">
            <% @checks.each do |c| %>
              <% met = c[:met] %>
              <% is_bom = c[:key] == "bom" %>
              <% is_readme = c[:key] == "readme" %>
              <li class="flex items-center space-x-4">
              <%# Square checkbox, matching tasks style but with status colors %>
                <% if met.nil? %>
                  <% if is_bom || is_readme %>
                    <div class="border-2 size-4 border-bp-warning rounded-full border-dashed animate-spin" data-ship-bom-target="box" data-check="<%= is_bom ? 'bom' : 'readme' %>"></div>
                  <% else %>
                    <div class="border-2 size-4 border-bp-muted"></div>
                  <% end %>
                <% elsif met %>
                  <div class="border-2 size-4 bg-bp-success border-bp-success" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                <% else %>
                  <div class="border-2 size-4 bg-bp-danger border-bp-danger" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                <% end %>
                <% if c[:url].present? %>
                  <%= link_to c[:msg], c[:url], target: "_blank", rel: "noopener noreferrer", class: "underline underline-offset-2" %>
                <% else %>
                  <span><%= c[:msg] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <%= form_with model: @project, class: "space-y-10" do |f| %>
          <%= f.hidden_field :ship, value: true %>
          
          <div class="space-y-2">
            <%= f.label :tier, "What tier should this project be?", class: "block text-xl font-medium" %>
            <div class="select w-full text-left">
              <%= f.select :tier, Project.tier_options, {}, { required: true, data: { ship_bom_target: "select" } } %>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <%= link_to project_path(@project), class: "btn btn-outline" do %>
              Not yet
            <% end %>

            <%= f.submit "Ship it!", data: { ship_bom_target: "submit" }, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
