<section class="flex flex-col items-center space-y-6 grow">
  <div class="flex flex-col w-full max-w-3xl min-h-full m-8 space-y-8">
    <% unless Flipper.enabled?(:new_ship_flow_10_06, current_user) %>
      <%= render "shared/card", class: "flex flex-col space-y-6" do %>
        <div class="p-6 pb-0 -mx-6 -mt-4 space-y-2">
          <p class="text-3xl">It's time to ship "<%= @project.title %>"</p>
          <p class="text-lg text-bp-muted">Complete these last steps before you can ship!</p>
        </div>

        <div class="space-y-8" 
        data-controller="ship-bom funding-amount" 
        data-ship-bom-project-id-value="<%= @project.id %>"
        data-ship-bom-base-ok-value="<%= @base_ok %>"
        data-funding-amount-tier-max-cents-value="<%= Project.tier_max_cents.to_json %>">
          <div class="text-xl">
            <ul class="space-y-2">
              <% @checks.each do |c| %>
                <% met = c[:met] %>
                <% is_bom = c[:key] == "bom" %>
                <% is_readme = c[:key] == "readme" %>
                <li class="flex items-center space-x-4">
                <%# Square checkbox, matching tasks style but with status colors %>
                  <% if met.nil? %>
                    <% if is_bom || is_readme %>
                      <div class="border-2 border-dashed rounded-full size-4 border-bp-warning animate-spin" data-ship-bom-target="box" data-check="<%= is_bom ? 'bom' : 'readme' %>"></div>
                    <% else %>
                      <div class="border-2 size-4 border-bp-muted"></div>
                    <% end %>
                  <% elsif met %>
                    <div class="border-2 size-4 bg-bp-success border-bp-success" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                  <% else %>
                    <div class="border-2 size-4 bg-bp-danger border-bp-danger" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                  <% end %>
                  <% if c[:url].present? %>
                    <% is_external = c[:url].start_with?('http') %>
                    <%= link_to c[:msg], c[:url], class: "underline underline-offset-2", 
                        **( is_external ? { target: "_blank", rel: "noopener noreferrer" } : {} ) %>
                  <% else %>
                    <span><%= c[:msg] %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

          <%= form_with model: @project, class: "space-y-10" do |f| %>
            <%= f.hidden_field :ship, value: true %>

            <% if @project.needs_funding %>
              <div class="space-y-2">
                <%= f.label :tier, "What tier should this project be?", class: "block text-xl font-medium" %>
                <div class="w-full text-left text-white select bg-bp-dark">
                  <%= f.select :tier, Project.tier_options, { include_blank: false, selected: 4 }, { data: { ship_bom_target: "select", funding_amount_target: "tierSelect", action: "change->funding-amount#tierChanged" }, class: "text-white bg-bp-dark", style: "color: white; background-color: var(--color-bp-dark);" } %>
                </div>
              </div>
              <p>If you don't know which tier your project should be, look <a href="/docs" class="underline text-bp-warning underline-offset-2 hover:text-bp-warning/80">here</a></p>

              <div class="space-y-2">
                <%= f.label :funding_needed, "How much funding do you need?", class: "block text-xl font-medium" %>
                <div class="relative">
                  <span class="absolute text-lg -translate-y-1/2 left-3 top-1/2">$</span>
                  <input type="text" 
                    placeholder="0.00" 
                    data-funding-amount-target="input" 
                    data-action="input->funding-amount#formatInput"
                    class="w-full pl-8 input" 
                    value="<%= @project.funding_needed_cents > 0 ? '%.2f' % (@project.funding_needed_cents / 100.0) : '' %>">
                  <%= f.hidden_field :funding_needed_cents, data: { funding_amount_target: "hidden" }, value: @project.funding_needed_cents %>
                </div>
                <p class="hidden text-sm text-bp-danger" data-funding-amount-target="error"></p>
              </div>
            <% end %>


            <div class="flex items-center justify-between">
              <%= link_to project_path(@project), class: "btn btn-outline" do %>
                Not yet
              <% end %>

              <%= f.submit "Ship it!", data: { ship_bom_target: "submit" }, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= form_with model: @project, data: { controller: "paginate", paginate_index_value: 0 } do |f| %>
        <%= f.hidden_field :ship, value: true %>
        <%= render "shared/card", html_options: { data: { paginate_target: "page" } } do %>
          <div>
            <p class="text-3xl">It's time to ship "<%= @project.title %>"</p>
            <p class="text-lg">We'll guide you through the final steps to ship your project and make sure everything is ready!</p>
          </div>
          <% if @project.needs_funding == false %>
            <div class="text-lg">
              <p>It seems like you don't need a grant for this project. You'll be getting extra tickets for your time.
            </div>
          <% end %>
          <div class="text-lg">
            <p>Before you continue, check the guide for <a href="/docs/submission-guidelines" class="underline text-bp-warning">submission requirements</a>, and check to make sure your project can count as <a href="/docs/shipping" class="underline text-bp-warning">shipped</a>.</p>
          </div>
          <div class="flex items-center mt-4">
            <%= link_to project_path(@project), class: "btn btn-outline" do %>
                Not yet
            <% end %>
            <div class="grow"></div>
            <%= render "shared/button", text: "Let's go!", html_options: { data: { action: "click->paginate#next" } } %>
          </div>
        <% end %>
              <%= render "shared/card", class: "hidden", html_options: { data: { paginate_target: "page" } } do %>
          <div>
            <p class="text-3xl">Running some checks...</p>
            <p class="text-lg">Just making sure your project is ready for submission.</p>
          </div>
          <div class="space-y-8" 
          data-controller="ship-bom" 
          data-ship-bom-project-id-value="<%= @project.id %>"
          data-ship-bom-base-ok-value="<%= @base_ok %>">
            <div class="text-xl">
              <ul class="space-y-2">
                <% @checks.each do |c| %>
                  <% met = c[:met] %>
                  <% is_bom = c[:key] == "bom" %>
                  <% is_readme = c[:key] == "readme" %>
                  <li class="flex items-center space-x-4">
                    <% if met.nil? %>
                      <% if is_bom || is_readme %>
                        <div class="border-2 border-dashed rounded-full size-4 border-bp-warning animate-spin" data-ship-bom-target="box" data-check="<%= is_bom ? 'bom' : 'readme' %>"></div>
                      <% else %>
                        <div class="border-2 size-4 border-bp-muted"></div>
                      <% end %>
                    <% elsif met %>
                      <div class="border-2 size-4 bg-bp-success border-bp-success" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                    <% else %>
                      <div class="border-2 size-4 bg-bp-danger border-bp-danger" <%= (is_bom || is_readme) ? 'data-ship-bom-target="box"' : '' %> data-check="<%= is_bom ? 'bom' : (is_readme ? 'readme' : nil) %>"></div>
                    <% end %>
                    <% if c[:url].present? %>
                      <% is_external = c[:url].start_with?('http') %>
                      <%= link_to c[:msg], c[:url], class: "underline underline-offset-2", 
                          **( is_external ? { target: "_blank", rel: "noopener noreferrer" } : {} ) %>
                    <% else %>
                      <span><%= c[:msg] %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="flex items-center pt-2">
              <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->paginate#prev" } } %>
              <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
              <div class="grow"></div>
              <%= render "shared/button", text: "Next", html_options: { data: { action: "click->paginate#next", ship_bom_target: "submit" } } %>
            </div>
          </div>
        <% end %>
        <%= render "shared/card", class: "hidden", html_options: { data: { controller: "ysws", paginate_target: "page" } } do %>
          <div>
            <%= f.label :ysws, "Was this project from another program?", class: "text-3xl" %>
            <p class="text-lg">Did you work on or submit this project to another program?<br>Or, was this project originally meant for another program?</p>
          </div>
          <div class="pt-4 space-y-10 flex-flex-col">
            <div class="space-y-2">
              <div class="w-full text-left text-white select bg-bp-dark">
                <% ysws_options = [
                  ["Was not for another program", "none"],
                  ["Mini Midi Magic", "midi"],
                  ["Athena", "athena"],
                  ["Grounded", "grounded"],
                  ["Other", "other"]
                ] %>
                <%= f.select :ysws, ysws_options, { selected: "none" }, { data: { ysws_target: "select", action: "change->ysws#toggle" }, class: "text-white bg-bp-dark", style: "color: white; background-color: var(--color-bp-dark);" } %>
              </div>
              <div class="hidden" data-ysws-target="otherField">
                <%= f.label :ysws_other, "Please specify:", class: "block text-lg font-medium mb-2" %>
                <%= f.text_field :ysws_other, data: { ysws_target: "otherInput", action: "input->ysws#validate" }, class: "input w-full", placeholder: "Enter program name..." %>
              </div>
            </div>
          </div>
          <div>
            <p class="text-xl">Blueprint projects cannot be submitted to other programs unless specified.</p>
          </div>
          <div class="flex items-center pt-2">
            <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->paginate#prev" } } %>
            <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
            <div class="grow"></div>
            <%= render "shared/button", text: "Next", html_options: { data: { action: "click->paginate#next" } } %>
          </div>
        <% end %>
        <% if @project.needs_funding %>
          <%= render "shared/card", class: "hidden", html_options: { data: { controller: "funding-amount", funding_amount_tier_max_cents_value: Project.tier_max_cents.to_json, paginate_target: "page" } } do %>
            <div>
              <%= f.label :tier, "What tier should this project be?", class: "text-3xl" %>
              <p class="text-lg">We may adjust this as we see fit.<br>If you're unsure what to pick, check the <a href="/docs" target="_blank" class="underline text-bp-warning">tier docs</a>.</p>
            </div>
            <div class="py-4 space-y-6 flex-flex-col">
              <div class="space-y-2">
                <div class="w-full text-left text-white select bg-bp-dark">
                  <%= f.select :tier, Project.tier_options, { include_blank: false, selected: @project.tier || 4 }, { data: { funding_amount_target: "tierSelect", action: "change->funding-amount#tierChanged" }, class: "text-white bg-bp-dark", style: "color: white; background-color: var(--color-bp-dark);" } %>
                </div>
              </div>
              <div class="space-y-2">
                <%= f.label :funding_needed, "How much funding do you need?", class: "block text-xl font-medium" %>
                <p>This should match your BOM (Bill Of Materials)
                <div class="relative">
                  <span class="absolute text-lg -translate-y-1/2 left-3 top-1/2">$</span>
                  <input type="text" 
                    placeholder="0.00" 
                    data-funding-amount-target="input" 
                    data-action="input->funding-amount#formatInput"
                    class="w-full pl-8 input" 
                    value="<%= @project.funding_needed_cents > 0 ? '%.2f' % (@project.funding_needed_cents / 100.0) : '' %>">
                  <%= f.hidden_field :funding_needed_cents, data: { funding_amount_target: "hidden" }, value: @project.funding_needed_cents %>
                </div>
                <p class="hidden text-sm text-bp-danger" data-funding-amount-target="error"></p>
              </div>
            </div>
            <div class="flex items-center pt-2">
              <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->paginate#prev" } } %>
              <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
              <div class="grow"></div>
              <%= render "shared/button", text: "Next", html_options: { data: { action: "click->paginate#next" } } %>
            </div>
          <% end %>
        <% end %>
        <%= render "shared/card", class: "hidden", html_options: { data: { controller: "print-legion", paginate_target: "page" } } do %>
          <div>
            <p class="text-3xl">3D Printing</p>
          </div>

          <div class="pt-4 space-y-6">
            <div class="space-y-2">
              <p class="text-xl">Do you have a 3D print in your project?</p>
              <div class="flex gap-4 mt-2">
                <label class="flex items-center gap-2 cursor-pointer" for="has_3d_print_yes">
                  <input type="radio" name="project[has_3d_print]" value="yes" data-action="change->print-legion#update" class="hidden peer" id="has_3d_print_yes">
                  <div class="border-2 size-4 peer-checked:bg-white"></div>
                  <span>Yes</span>
                </label>
                <label class="flex items-center gap-2 cursor-pointer" for="has_3d_print_no">
                  <input type="radio" name="project[has_3d_print]" value="no" data-action="change->print-legion#update" class="hidden peer" checked id="has_3d_print_no">
                  <div class="border-2 size-4 peer-checked:bg-white"></div>
                  <span>No</span>
                </label>
              </div>
            </div>

            <div class="hidden space-y-2" data-print-legion-target="secondQuestion">
              <p class="text-xl">Do you need help 3D printing it? (Print Legion)</p>
              <div class="flex gap-4 mt-2">
                <label class="flex items-center gap-2 cursor-pointer" for="needs_3d_print_help_yes">
                  <input type="radio" name="project[needs_3d_print_help]" value="yes" data-action="change->print-legion#update" class="hidden peer" id="needs_3d_print_help_yes">
                  <div class="border-2 size-4 peer-checked:bg-white"></div>
                  <span>Yes</span>
                </label>
                <label class="flex items-center gap-2 cursor-pointer" for="needs_3d_print_help_no">
                  <input type="radio" name="project[needs_3d_print_help]" value="no" data-action="change->print-legion#update" class="hidden peer" checked id="needs_3d_print_help_no">
                  <div class="border-2 size-4 peer-checked:bg-white"></div>
                  <span>No</span>
                </label>
              </div>
            </div>

            <%= f.hidden_field :print_legion, value: (@project.print_legion ? "true" : "false"), data: { print_legion_target: "hidden" } %>
          </div>

          <div class="flex items-center pt-2">
            <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->paginate#prev" } } %>
            <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
            <div class="grow"></div>
            <%= render "shared/button", text: "Next", html_options: { data: { action: "click->paginate#next" } } %>
          </div>
        <% end %>
        <%= render "shared/card", class: "hidden", html_options: { data: { controller: "cart-screenshots", paginate_target: "page", cart_screenshots_needs_funding_value: @project.needs_funding, cart_screenshots_has_existing_value: @project.cart_screenshots.attached? } } do %>
          <div>
            <p class="text-3xl">Cart screenshots</p>
            <p class="text-lg">
              Upload screenshots of your shopping cart (e.g., suppliers) so we can verify pricing.
              <% if @project.needs_funding %><span class="text-bp-warning">At least one image is required.</span><% end %>
            </p>
          </div>

          <div class="pt-2 space-y-2">
            <%= f.label :cart_screenshots, "Upload images", class: "block text-xl font-medium" %>
            <%= f.file_field :cart_screenshots, multiple: true, direct_upload: true, accept: "image/*", class: "input w-full space-x-2", data: { action: "change->cart-screenshots#filesChanged", cart_screenshots_target: "input" } %>
            <p class="hidden text-sm text-bp-danger" data-cart-screenshots-target="error">
              <% if @project.errors[:cart_screenshots].present? %><%= @project.errors[:cart_screenshots].first %><% end %>
            </p>
            <div class="grid grid-cols-2 gap-3 md:grid-cols-3" data-cart-screenshots-target="previews"></div>
          </div>

          <div class="flex items-center pt-2">
            <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->paginate#prev" } } %>
            <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
            <div class="grow"></div>
            <%= render "shared/button", text: "Next", html_options: { data: { action: "click->cart-screenshots#handleNext", cart_screenshots_target: "nextButton" } } %>
          </div>
        <% end %>
        <%= render "shared/card", class: "hidden", html_options: { data: { controller: "ship-checks", paginate_target: "page" } } do %>
          <div>
            <p class="text-3xl">Final things before shipping</p>
            <p class="text-lg">Please confirm the following statements and check the boxes</p>
          </div>
          <% manual_checks = [
            ["repo", "I have included all code, 3D models, schematics, and other project files into the repository in a format that can be edited (e.g. STEP, not STL)"],
            ["readme", "I have described my project in the README.md on the repository"],
            ["bom", "I have researched the cheapest option for my components"],
            ["unique", "I know my project is original, or I have modified an existing project significantly"],
            ["design", "I have tried my best to build a functional design (electronics, 3D parts, etc)"],
            ["journal", "I journaled all aspects of my project creation"],
            ["hours", "I reported time spent honestly and to the best of my ability."]
          ] %>
          <div>
            <% manual_checks.each do |key, msg| %>
              <div class="flex items-start space-x-3">
                <label for="ship-<%= key %>" class="flex items-start space-x-3 cursor-pointer">
                  <input type="checkbox" class="hidden peer" id="ship-<%= key %>" data-ship-checks-target="checkbox" data-action="change->ship-checks#validate">
                  <div class="mt-1 border-2 size-4 shrink-0 peer-checked:bg-bp-success peer-checked:border-bp-success"></div>
                  <p><%= msg %></p>
                </label>
              </div>
            <% end %>
          </div>
          <div class="flex items-center pt-2">
            <%= render "shared/button", text: "Back", variant: :outline, html_options: { data: { action: "click->ship-checks#handlePrev" } } %>
            <%= link_to "Cancel", project_path(@project), class: "btn btn-outline ml-2" %>
            <div class="grow"></div>
            <%= f.submit "Ship it!", class: "btn btn-primary", data: { ship_checks_target: "submitButton" } %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
