<section class="flex justify-center">
  <div class="w-full max-w-6xl space-y-4">
    <div class="py-4 space-y-1">
      <h1 class="text-5xl">Admin dashboard</h1>
      <p class="text-xl">'ello there, <%= current_user.display_name %>!</p>
    </div>
    <div class="space-y-6">
      <div class="grid grid-cols-3 gap-6">
        <%= render "shared/button", variant: :outline, text: "Projects (#{Project.count})", url: admin_projects_path %>
        <%= render "shared/button", variant: :outline, text: "Users (#{User.count})", url: admin_users_path %>
      </div>
      <div class="grid grid-cols-3 gap-6">
        <%= render "shared/button", variant: :outline, text: "Flipper", url: "/admin/flipper" %>
        <%= render "shared/button", variant: :outline, text: "Jobs", url: "/admin/jobs" %>
        <%= render "shared/button", variant: :outline, text: "Airtable", url: "https://airtable.com/app4b3xOfiEHnXJe0/" %>
      </div>
    </div>
  </div>
</section>
