<section class="flex justify-center">
  <div class="w-full space-y-4">
    <div class="py-4 space-y-1">
      <h1 class="text-5xl">Admin dashboard</h1>
      <p class="text-xl">'ello there, <%= current_user.display_name %>!</p>
    </div>
    <div class="max-w-6xl space-y-6">
      <div class="space-y-6">
        <p class="text-4xl">Tasks</p>
        <p class="text-4xl">Dashboards</p>
        <div class="grid grid-cols-3 gap-6 ">
          <%= render "shared/button", variant: :outline, text: "Projects (#{Project.count.to_i})", url: admin_projects_path %>
          <%= render "shared/button", variant: :outline, text: "Users (#{User.count.to_i})", url: admin_users_path %>
          <%= render "shared/button", variant: :outline, text: "Allowed Emails (#{AllowedEmail.count.to_i})", url: admin_allowed_emails_path %>
          <%= render "shared/button", variant: :outline, text: "Flipper", url: "/admin/flipper" %>
          <%= render "shared/button", variant: :outline, text: "Jobs", url: "/admin/jobs" %>
          <%= render "shared/button", variant: :outline, text: "Blazer", url: "/admin/blazer" %>
        </div>
        <p class="text-4xl">3rd party</p>
          <div class="grid grid-cols-3 gap-6">
            <%= render "shared/button", variant: :outline, text: "Airtable", url: "https://airtable.com/app4b3xOfiEHnXJe0/" %>
            <%= render "shared/button", variant: :outline, text: "Sentry", url: "https://hack-club-hcb.sentry.io/insights/projects/blueprint-ysws/" %>
            <%= render "shared/button", variant: :outline, text: "Skylight", url: "https://www.skylight.io/app/applications/XFOzxDyHAv6P/" %>
            <%= render "shared/button", variant: :outline, text: "HCB", url: "https://hcb.hackclub.com/blueprint-ysws/transactions" %>
          </div>
      </div>
      
    </div>
  </div>
</section>
