<!DOCTYPE html>
<html>
  <head>
    <title id="document-title"><%= content_for(:title) || "Admin - Blueprint" %></title>
    <meta name="description" id="meta-description" content="<%= content_for?(:description) ? yield(:description) : "" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/webp" sizes="32x32" href="/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/webp" sizes="16x16" href="/favicon-16x16.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= stylesheet_link_tag "marksmith", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
    <script defer data-domain="blueprint.hackclub.com" src="https://plausible.io/js/script.file-downloads.outbound-links.pageview-props.tagged-events.js"></script>
  </head>

  <body class="">
    <%= render "shared/notice" %>

    <main class="flex flex-col w-full min-h-screen p-8 ml-0">
      <%= yield %>
    </main>
  </body>
</html>
